.card{
    background-color: blueviolet;
    color:aliceblue;
    border-radius: 20px;
    width: 500px;
    padding: 20px;
    margin: 20px;
}
#value{
    background-color: chocolate;
}
#value1{
    background-color: chocolate;
}